# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/

# ==========================
# IDEs
# ==========================

.vscode/
.idea/

# ==========================
# Jupyter
# ==========================

.ipynb_checkpoints/


# ==========================
# Environment variables
# ==========================

.env
.env.*


# ==========================
# Logs
# ==========================

*.log


# ==========================
# Build / Packaging
# ==========================

build/
dist/
*.egg-info/

.eggs/


# ==========================
# Test / Coverage
# ==========================

.pytest_cache/
.coverage
htmlcov/


# ==========================
# OS files
# ==========================

.DS_Store
Thumbs.db



# ==========================
# Temp files
# ==========================

*.tmp
*.bak
*.swp
mqtt/
mqtt/main.py